<div class="jax-chat-box">
    <div class="jax-chat-box-left-panel">
        <div class="jax-chat-box-left-panel-header">
            <img src="/images/avatar.jpg"
                 alt="">
            <div class="jax-chat-box-left-panel-header-info">
                <span class="nickname">This is Jax!</span>
                <a href="javascript:;" class="menu"></a>
            </div>
        </div>
        <div class="jax-chat-box-left-panel-search-box">
            <i class="search-icon"></i>
            <input type="text" class="search-text" placeholder="Search">
        </div>
    </div>
</div>
